@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    width: 80%;
}
figure {
    margin: 5px;
}
.border {
    border: 1px solid #000;
    min-height: 400px;
    box-sizing: border-box;
}
@media (max-width: 414px) {
    body {
        background-color: #eee;
    }
    .col {
        width: 100%;
    }
    .border {
        min-height: 400px;
        min-width: 310px;
    }
}
