* {
    margin: 0;
    padding: 0;
    background-color: #f0f1d9;
    color: #822626;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
body {
    border: solid #000;
    text-align: center;
}
h1 {
    font-size: 150%;
}