@charset "utf-8";
* {
    font-family: Papyrus, fantasy;
    color: #000000;
    font-weight: 700;
}
h1 {
    background-image: url("backh1.jpg");
    background-size: 300px;
    color: aliceblue;
}
body {
    text-align: center;
    background-image: url('background.avif');
    background-repeat: round space;
    background-attachment:scroll;
}
img {
    height: 480px;
    width: 640px;
    border-radius: 15px;
}
figure {
    width: 640px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 0px auto;
    display: block;
}
figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
}
