@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    background-color: aquamarine;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    }
.coluna-50 {
    width: 50%;
    }
body{
    background-color: darkgray;
}
header {
    background-color: bisque;
    text-align: center;
    margin:0 10% ;
    padding: 2rem;
}
.btn {
    text-decoration: none;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 1rem;
    cursor: progress;
    border-radius: 40px;
}
.btn:hover {
    opacity: 0.8;
}