@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
}