p{
	color: green;
	font-size: 1.2em;
	font-family: 'Courier New', Courier, monospace;
}
h1{
	font-family: sans-serif;
	color: #FFFFFF;
	text-align: center;
	background-color: #d80c0c;
}
h2{
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	background-color: #d85d5d;
}
small{
	color: blue;
	font-size: 0.5em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
body{
	background-color: antiquewhite;
}

#menu-h{
	list-style: none;
	padding: 0;
	color: rgb(255, 255, 255);
	background-color: #ff0000;
	text-decoration: overline;
}

#menu-h li{
	display: inline;
}