@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    background-color: #f0f1d9;
    color: #822626;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

article{
    text-align: center;
    border: 1px solid #000;
}
h1 {
    font-size: 150%;
}